.DS_Store
/be/back-end/*
/be/src/db.sqlite3
/be/.env

*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

# Python # 
*.py[cod] 
*$py.class

# pyenv 
.python-version 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history